---
permalink: /characters/pierrot/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content="0; url=/pierrot/">
    <link rel="canonical" href="https://thefreakcircus.me/pierrot/">
    <title>Redirecting to Pierrot</title>
  </head>
  <body>
    <p>Redirecting to <a href="/pierrot/">/pierrot/</a>.</p>
  </body>
</html>
